#oyun-alani {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.kart {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}